<form [formGroup]="currencyConverterForm" class="form-container">
  <div class="">
    <mat-form-field>
      <mat-label>Enter an amount</mat-label>
      <input matInput placeholder="85" formControlName="amount">
      <mat-error *ngIf="currencyConverterForm.invalid">{{ errorMessage }}</mat-error>
    </mat-form-field>
    <p *ngIf="resultAmount.length > 0">{{ resultAmount }}</p>
  </div>
  <button mat-raised-button (click)="onSubmit()" [disabled]="currencyConverterForm.invalid">Submit</button>
</form>

