<form [formGroup]="currencyConverterForm" class="form-container">
  <mat-form-field>
    <mat-label>Enter an amount</mat-label>
    <input matInput placeholder="85" formControlName="amount" type="number">
    @if (currencyConverterForm.controls.amount.invalid) {
      <mat-error>Invalid amount</mat-error>
    }
  </mat-form-field>

  @if (resultAmount.length > 0) {
    <div class="result-container">
      <p>{{ resultAmount }}</p>
    </div>
  }

  <button mat-raised-button color="primary" class="submit-button" (click)="onSubmit()"
    [disabled]="currencyConverterForm.invalid">Submit
  </button>
</form>
